fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg[standard]
aiosqlite[standard]
pydantic-settings[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart[standard]
bcrypt[standard]
pytest[standard]
pytest-asyncio[standard]
httpx[standard]