fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg[standard]
aiosqlite[standard]
alembic[standard]
pydantic-settings[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart[standard]
bcrypt==4.0.1
pytest[standard]
pytest-asyncio[standard]
httpx[standard]
mercadopago==2.4.0